<form novalidate name="vm.form">
    <div layout-gt-xs="row">
        <md-input-container class="md-block" flex-gt-xs>
            <label>Titel</label>
            <input ng-model="vm.event.title" required>
            <div ng-messages="form.name.$error" role="alert" multiple>
                <div ng-message="required" class="my-message">Du glemte vist at indtaste en titel til kampen?</div>
            </div>
        </md-input-container>
    </div>
    <div>
        <h2>Opgaver</h2>
        <div ng-repeat="task in vm.event.tasks">
            <ng-form>
                <div layout-gt-xs="row" flex>
                    <md-input-container class="md-block" flex>
                        <label>Spiller</label>
                        <md-select ng-model="task.memberId">
                          <md-option ng-repeat="member in vm.members" value="{{member._id}}">{{member.name}}</md-option>
                        </md-select>
                    </md-input-container>
                    <md-input-container class="md-block" flex>
                        <label>Opgave</label>
                        <input ng-model="task.taskTitle">
                    </md-input-container>
                </div>
            </ng-form>
        </div>
        <button ng-click="vm.addTask()">Tilføj opgave</button>
    </div>
    <input type="submit" ng-click="vm.handleSubmit(vm.event)" value="{{vm.submitText}}" />
</form>
