<h1>Spillere</h1>
<md-content layout-padding>
    <md-list>
        <md-list-item ng-repeat="member in vm.members" class="md-offset">
            <button class="md-no-style md-button md-ink-ripple" type="button" ng-click="vm.openMember(member, $event)" aria-label="{{member.name}}">
                <div class="md-list-item-inner ng-scope">
                    <p class="ng-binding">{{member.name}}</p>
                </div>
                <div ng-click="vm.deleteMember(member, $event)" aria-label="Slet spiller" class="md-secondary md-hue-3">Slet</div>
                <div class="md-ripple-container">
                </div>
            </button>
        </md-list-item>
    </md-list>
</md-content>

<a ui-sref="addmember">Opret ny spiller</a>
