<form novalidate name="vm.form">
    <div layout-gt-xs="row">
        <md-input-container class="md-block" flex-gt-xs>
            <label>Navn</label>
            <input ng-model="vm.member.name" required>
            <div ng-messages="form.name.$error" role="alert" multiple>
                <div ng-message="required" class="my-message">Du glemte vist at indtaste navnet på spilleren?</div>
            </div>
        </md-input-container>
    </div>
    <div layout-gt-xs="row">
        <md-input-container class="md-block" flex-gt-xs>
            <label>Email</label>
            <input ng-model="vm.member.email" required>
            <div ng-messages="form.email.$error" role="alert" multiple>
                <div ng-message="required" class="my-message">Vi skriver til spilleren via email, så email-adressen er lidt nødvendig</div>
            </div>
        </md-input-container>
    </div>
    <div layout-gt-xs="row">
        <md-input-container class="md-block" flex-gt-xs>
            <label>Telefon</label>
            <input type="tel" ng-model="vm.member.phone" required />
            <div ng-messages="form.phone.$error" role="alert" multiple>
                <div ng-message="required" class="my-message">Et telefonnummer er rigtigt rart, hvis vi nu skal ringe til spilleren?</div>
            </div>
        </md-input-container>
    </div>
    <div layout-gt-xs="row">
        <md-input-container class="md-block" flex-gt-xs>
            <label>Adresse</label>
            <input ng-model="vm.member.address">
        </md-input-container>
    </div>
    <div layout-gt-xs="row">
        <md-input-container class="md-block" flex-gt-xs="20">
            <label>Postnr.</label>
            <input name="postalCode" ng-model="vm.member.postalCode" placeholder="1234" ng-pattern="/^[0-9]{4}$/" md-maxlength="4">
            <div ng-messages="form.postalCode.$error" role="alert" multiple>
                <div ng-message="pattern" class="my-message">Det der er da vist ikke et rigtigt postnummer?</div>
                <div ng-message="md-maxlength" class="my-message">Er der ikke lidt for mange cifre?</div>
            </div>
        </md-input-container>
        <md-input-container class="md-block" flex-gt-xs>
            <label>By</label>
            <input ng-model="vm.member.city">
        </md-input-container>
    </div>
    <input type="submit" ng-click="vm.handleSubmit(vm.member)" value="{{vm.submitText}}" />
</form>
