<form novalidate name="vm.form">
    <div layout-gt-xs="row">
        <md-input-container class="md-block" flex-gt-xs>
            <label>Opgave</label>
            <input ng-model="vm.task.title" required>
            <div ng-messages="form.title.$error" role="alert" multiple>
                <div ng-message="required" class="my-message">Du glemte vist at indtaste opaven?</div>
            </div>
        </md-input-container>
    </div>
    <input type="submit" ng-click="vm.handleSubmit(vm.task)" value="{{vm.submitText}}" />
</form>
